# Authorized Face Datasets
backend/data/faces/

#Generated Embeddings
backend/data/embeddings/

# Identity embeddings are generated locally and contains biometric info
backened/identity/identities/*

# Keep the folder for those who clone
!backend/identity/identities/.gitkeep

# Python Cache
__pycache__/

# Virtual Env
.venv/
venv/
.env/
.env

# Model Weights
*.pt

# OS junk 
.DS_Store

# Deep Learning 
*.pth
*.onnx
*.engine

# Logs
*.log
