# Authorized Face Datasets
backend/data/faces/

#Generated Embeddings
backend/data/embeddings/

# Python Cache
__pycache__/

# Virtual Env
venv/
.env/
.env

# Model Weights
*.pt

# OS junk 
.DS_Store

# Deep Learning 
*.pth
*.onnx
*.engine

# Logs
*.log
